body{
    margin: 0;
    font-family: sans-serif;
    
}
table {
    width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

th {
    background: #f2f2f2;
}
